version: 2.1

jobs:
    rust_quality:
        docker:
            - image: rust:latest
        steps:
            - checkout
            - restore_cache:
                keys:
                  - v2-rust-{{ arch }}-{{ checksum "Cargo.lock" }}
                  - v2-rust-{{ arch }}-
            - run:
                name: Install dependencies
                command: rustup component add rustfmt clippy
            - run:
                name: Check formatting
                command: cargo fmt -- --check
            - run:
                name: Clippy check
                command: cargo clippy --all-features -- -D warnings
            - save_cache:
                key: v2-rust-{{ arch }}-{{ checksum "Cargo.lock" }}
                paths:
                  - ~/.cargo
                  - ~/.rustup
                  - ./target
            - persist_to_workspace:
                root: .
                paths:
                  - target/

    python_quality:
        docker:
            - image: cimg/python:3.13
        steps:
            - checkout
            - restore_cache:
                keys:
                  - v2-py-{{ checksum "uv.lock" }}
                  - v2-py-
            - run:
                name: Install dependencies
                command: make init
            - save_cache:
                key: v2-py-{{ checksum "uv.lock" }}
                paths:
                  - ~/.cache/pip
                  - ~/.cache/uv
            - run:
                name: Run Python quality checks
                command: make quality-python

    rust_tests:
        docker:
            - image: rust:latest
        steps:
            - checkout
            - attach_workspace:
                at: .
            - restore_cache:
                keys:
                  - v2-rust-{{ arch }}-{{ checksum "Cargo.lock" }}
                  - v2-rust-{{ arch }}-
            - run:
                name: Run Rust tests
                command: cargo test --all-features
            - save_cache:
                key: v2-rust-{{ arch }}-{{ checksum "Cargo.lock" }}
                paths:
                  - ~/.cargo
                  - ~/.rustup
                  - ./target

    python_tests:
        docker:
            - image: cimg/python:3.13
        steps:
            - checkout
            - attach_workspace:
                at: .
            - restore_cache:
                keys:
                  - v2-rust-{{ arch }}-{{ checksum "Cargo.lock" }}
                  - v2-rust-{{ arch }}-
            - restore_cache:
                keys:
                  - v2-py-{{ checksum "uv.lock" }}
                  - v2-py-
            - run:
                name: Install Rust
                command: |
                    if [ ! -f "$HOME/.cargo/env" ]; then
                        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
                    fi
                    echo 'source "$HOME/.cargo/env"' >> $BASH_ENV
            - run:
                name: Version information
                command: rustc --version; cargo --version; rustup --version; uv --version
            - run:
                name: Install dependencies
                command: make init
            - save_cache:
                key: v2-py-{{ checksum "uv.lock" }}
                paths:
                  - ~/.cache/pip
                  - ~/.cache/uv
            - run:
                name: Run Python tests
                command: make test-python-ci
            - save_cache:
                key: v2-rust-{{ arch }}-{{ checksum "Cargo.lock" }}
                paths:
                  - ~/.cargo
                  - ~/.rustup
                  - ./target

workflows:
    build_and_test:
        jobs:
            - rust_quality
            - python_quality
            - rust_tests:
                requires:
                    - rust_quality
                    - python_quality
            - python_tests:
                requires:
                    - rust_quality
                    - python_quality
